.form-control {
    margin: 15px 0;
}

.cell {
    margin-top: 20px;
}

.submit-result .success {
    color: green;
}

.submit-result .error {
    color: red;
}

.main-app {
    margin: 30px;
    text-align: center;
}

.container .user-login {
    width: 400px;
    text-align: center;
}