<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>Executor Service: <a th:href="@{/executor/execute/ping}">Ping!</a></p>
        <p>Compiler Service: <a th:href="@{/compiler/compile/ping}">Ping!</a></p>
        <p>Task Service: <a th:href="@{/tasking/tasks/ping}">Ping!</a></p>
    </body>
</html>