spring:
  application:
    name: task-service
  datasource:
    url: jdbc:mysql://localhost:3306/tasks?createDatabaseIfNotExist=true&zeroDateTimeBehavior=CONVERT_TO_NULL&serverTimezone=UTC
    password: root
    username: root
  jpa:
    hibernate:
      ddl-auto: create
server:
  port: 8083
  servlet:
    context-path: /tasking