<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome!</title>
        <meta charset="utf-8">

        <link rel="stylesheet" th:href="@{/css/app.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body>

        <!--Navigation-->
        <header class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/fragments :: header"></header>

        <!-- Body -->
        <div class="container">
            <div class="row">
                <div class="cell col">
                    <form id="comp-data" action="#" th:action="@{/admin/submit}" method="post">
                        <div class="md-form">
                            <label for="solution-code-area">Solution Code Here:</label>
                            <textarea id="solution-code-area" class="md-textarea form-control" rows="10"></textarea>
                            <label for="runner-code-area">Runner Code Here:</label>
                            <textarea id="runner-code-area" class="md-textarea form-control" rows="10"></textarea>
                            <label for="task-name-id">Task Name Id:</label>
                            <input type="text" id="task-name-id" class="form-control">
                            <label for="task-name">Task Name:</label>
                            <input type="text" id="task-name" class="form-control">
                            <label for="task-description">Task Description:</label>
                            <input type="text" id="task-description" class="form-control">
                            <label for="task-method-sign">Task Target Method Signature:</label>
                            <input type="text" id="task-method-sign" class="form-control">
                        </div>
                        <button id="btn-publish" type="button" class="btn btn-primary">Publish</button>
                        <button id="btn-update" type="button" class="btn btn-primary">Update</button>
                        <button id="btn-delete" type="button" class="btn btn-primary">Delete</button>
                    </form>
                </div>
                <div class="cell col">
                    <div class="submit-result">
                        <label for="submit-result">Submission results:</label>
                        <textarea id="submit-result" class="md-textarea form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!--Footer-->
        <footer class="container-fluid" th:replace="fragments/fragments :: footer"></footer>

        <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/admin.js}"></script>
    </body>
</html>